.progress-bar {
    display: inline-block;
    width: 100%;
}

    .progress-bar > .texts {
        display: inline-block;
    }

    .progress-bar > texts > .title {
        display: inline-block;
        float: left;
    }

    .progress-bar > texts > .value {

    }

.progress-bar > .bar {
    display: inline-block;
    width: 100%;
    background-color: gray;
}

    .progress-bar > .bar > .value {
    display: inline-block;
    width: 90%;
    height: 5px;
    background-color:#00A0F4;

    }   